# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build/
dist/
target/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Keycloak binaries (Software distributions)
keycloak-*/
bin/
lib/
*keycloak*/bin/
*keycloak*/lib/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Vercel
.vercel

# TypeScript
tsbuildinfo
next-env.d.ts

# IDE / Editor secrets
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
