# Keycloak
NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:8081/auth
NEXT_PUBLIC_KEYCLOAK_REALM=public-citizen-portal
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=civilian-nextjs-web
NEXT_PUBLIC_APP_URL=http://localhost:3001
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASS=admin

# Email is configured in Keycloak realm SMTP settings (keycloak/realm-export.json)
